/**
 * 404 page
 */

.er-wrapper {
  display: flex;
  max-width: 530px;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.er-container {
  top: -30px;
  position: relative;
  text-align: left;
}

.er-header {
  font-size: 5em;
  font-weight: bold;
  color: $black;
  line-height: 1.2;
}

.er-paragraph {
  font-size: 2.531em;
  color: #1635de;
  font-weight: 700;
}

.er-by {
  font-size: $base-font-size;
  color: $black;
  display: inline;

  a {
    border-bottom: 1px solid #1635de;

    &:hover,
    &:focus {
      border-bottom: 2px solid #1635de;
    }
  }
}