/**
 * Site intro
 */

.introduction {
  margin-top: 5em;
  margin-bottom: 3em;
  text-align: center;

  .introduction-image {
    overflow: hidden;
    background: #d8deff;
    border-radius: 100%;
    width: 103px;
    border: 6px solid #eef1ff;
    box-shadow: 0px 0px 2px 9px #f6f6fa;
    height: 103px;
    animation: .5s ease-in forwards weeng;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;

    &::after {
      content: "";
      position: absolute;
      background: transparent;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  .introduction-name {
    font-size: 1.5em;
    font-weight: 600;
    font-family: $first-font-family;
    margin-top: 8px;
  }

  .introduction-description {
    color: #5a5a5a;
    text-align: center;
    font-family: Roboto;
    margin: 0 auto;
    max-width: 393px;
    font-size: 16px;
    /* background-color: turquoise; */
    /* transform: rotate(-1deg); */
    padding: 9px;
    border-radius: 2px;
    /* border: 2px solid #000; */
  }
}

/**
 * Site header
 */

.header {
  height: auto;
  margin: 1em 0 1em 0;
  max-width: -webkit-calc(890px - (#{$spacing-unit} * 2));
  max-width: calc(890px - (#{$spacing-unit} * 2));
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;
}

/**
 * Site nav
 */

.nav {

  .trigger {
    float: right;
  }

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .menu-link {
    color: $black;
    font-family: 'Roboto';
    line-height: $base-line-height - 0.5;
    text-decoration: none;
    border-radius: 2px;
    padding: 5px 8px;
    border: 0;
    font-size: $small-font-size - 1;
    opacity: .7;
    letter-spacing: 0.5px;

    &:hover {
      opacity: 1;
    }

    &:not(:last-child) {
      margin-right: 5px;
    }
  }

  .menu-link.active {
    opacity: 1;
    border-radius: 4em 1em 2em 1em / 1em 5em 1em 3em;
    color: $blue;
    background: #ebebeb;
  }

  @include media-query($on-palm) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    text-align: center;
    height: 50px;
    background: #fff;
    border-bottom: 2px solid #f5f5f5;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      position: absolute;
      right: 0;
      width: 50px;
      height: 20px;
      line-height: 0;
      padding-top: 15px;
      text-align: center;
      z-index: 10;

      >svg path {
        fill: $black;
      }
    }

    input~.trigger {
      clear: both;
      display: none;
    }

    input:checked~.trigger {
      position: fixed;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background: rgba(255, 255, 255, 0.94);
      height: 100vh;
      width: 100%;
      top: 0;
    }

    .menu-link {
      display: block;
      box-sizing: border-box;
      background: none;
      font-size: $base-font-size;
      box-shadow: none;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}

@include media-query($on-palm) {

  .site-nav .menu-link.active,
  .site-nav .menu-link {
    margin-bottom: 18px;
    padding: 0;
    border: 0;
  }
}

@include media-query($on-mobile) {

  .site-header {
    height: 0;
    margin: 0 0 3em 0;
  }

  main .content {
    margin-bottom: 3em;
  }

  .content .see-all-container {
    margin-top: 1em;
  }

  .page_number {
    display: none;
    visibility: hidden;
  }

  .post-next {
    display: none;
  }

  .post-nav {
    display: block;
    font-size: $small-font-size;

    .post-nav-item {
      display: block;
      width: 100%;
    }

    .post-nav-item:nth-child(even) {
      border-left: 0;
      padding-left: 0;
      border-top: 1px solid $light;
    }
  }

  footer.site-footer {
    margin-top: 3em;

    .crafted {
      text-align: center;
      float: none;
    }

    .copyright {
      display: none;
    }
  }
}

.page-heading {
  @include relative-font-size(1.25);
}

.see-all-container {
  margin-top: 2em;
  // display: flex;
  // justify-content: flex;
}

.button {
  font-size: $small-font-size;
  font-family: "Roboto";
  text-decoration: none;
  border: 1px solid $black;
  padding: 6px 12px;
  border-radius: 2px;
  color: $black;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:active {
    text-decoration: none;
  }
}

.year-post {
  font-size: 1.2em;
  font-family: $first-font-family;
  color: $black;
  text-transform: capitalize;
  font-weight: 700;

  span[role="img"] {
    font-weight: 700;
    margin-right: 5px;
  }
}

/**
 * Site
 */

.content {
  margin-bottom: 3em;

  /**
 * Site blog
 */

  .list-post {
    padding: 5px 0 0 0;
    display: flex;
    @extend %clearfix;

    &:not(:first-child) {
      border-top: 1px solid $light;
      // margin-top: 1px;
    }
  }

  @extend %clearfix;
}

.list-post-header {
  display: inline;
  line-height: 15px;
}

.list-post-date {
  font-family: $first-font-family;
  font-size: $small-font-size;
  min-width: 55px;
  color: $grey;
  padding-right: 10px;
}

.list-post-meta {
  font-size: $small-font-size;
  color: $black;
  opacity: .6;
}

/**
 * Site tips
 */

.list-post-title {
  // @include relative-font-size(2);
  margin-top: 2px;
  font-size: $base-font-size;
  display: inherit;

  a {
    color: #3952cb;
    text-decoration: none;
    line-height: 22px;

    &:hover,
    &focus {
      color: $black;
      // text-decoration: underline;
    }
  }

  @include media-query($on-laptop) {
    // @include relative-font-size(2.25);
  }
}

/**
 * Site image animation 
 */
@keyframes weeng {
  0% {
    opacity: .2;
  }

  100% {
    opacity: 1;
  }
}

/**
 * Responsive Embed : vidio
 */

.embed-responsive {
  height: 0;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
  margin-top: 20px;

  iframe,
  object,
  embed {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }
}


/**
 * 404 page
 */

.er-wrapper {
  display: flex;
  max-width: 530px;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.er-container {
  top: -30px;
  position: relative;
  text-align: left;
}

.er-header {
  font-size: 5em;
  font-weight: bold;
  color: $black;
  line-height: 1.2;
}

.er-paragraph {
  font-size: 2.531em;
  color: #1635de;
  font-weight: 700;
}

.er-by {
  font-size: $base-font-size;
  color: $black;
  display: inline;

  a {
    border-bottom: 1px solid #1635de;

    &:hover,
    &:focus {
      border-bottom: 2px solid #1635de;
    }
  }
}

/**
 * Site comments
 */

.utterances {
  margin-top: 5em;
}

/**
 * Site footer
 */
.site-footer {
  font-size: $small-font-size;
  font-family: $first-font-family;
  text-align: center;
  margin: 7em 0 2em 0;
  color: $grey;

  a {
    color: $black;
    border-bottom: 1px solid $blue;

    &:hover,
    &:focus {
      border-bottom: 2px solid $blue;
    }
  }

}