<h4 class="home-title"><span role="img" aria-label="book">📘</span>devlog</h4>
<div class="content">
{% assign blogs = site.categories.blog %}
{% if blogs.size > 0%}
{% for post in blogs %}
<article class="list-post blog">
    <header class="list-post-header">
      <h2 class="list-post-title">
        <a href="{{ post.url | absolute_url }}">{{ post.title | escape }}</a>
      </h2>
    </header>
    <section class="list-post-excerpt">
      <p class="list-post-excerpt"> — {{ post.excerpt | strip_html | normalize_whitespace | truncatewords: 12, '...' }} </p>
    </section>
  </article>
{% endfor %}
{% else %}
<code>wip hahahaha</code>
{% endif %}
</div>