<h4 class="home-title"><span role="img" aria-label="book">📘</span>all devlog</h4>
<div class="content">
  {% assign blogs = site.posts %}
  {% if blogs.size > 0 %}
  {% for post in blogs limit:4 %}
  <article class="list-post">
    <span class="list-post-date">#{{ post.date | date: "%m%d%y" }}</span>
    <header class="list-post-header">
      <h4 class="list-post-title">
        <a href="{{ post.url | absolute_url }}">{{ post.title | escape }}</a>
      </h4>
    </header>
  </article>
  {% endfor %}

  {% else %}
  <code>no logging activity</code>
  {% endif %}
</div>