---
layout: default
home: true
---
<div class="home">
  <h4 class="home-title"><span role="img" aria-label="icon-book">📘</span>devlog</h4>
  <div class="content">
    {% assign blogs = site.posts %}
    {% if blogs.size > 0 %}
    {% for post in blogs limit:3 %}
      <article class="list-post blog">
        <span class="list-post-date">#{{ post.date | date: "%m%d%y" }}</span>
        <header class="list-post-header">
          <h4 class="list-post-title">
            <a href="{{ post.url | absolute_url }}">{{ post.title | escape }}</a>
          </h4>
        </header>
      </article>
    {% endfor %}
      <nav class="see-all-container">
        <a class="button" href="{{ site.url | absolute_url }}/blog">More Log</a>
      </nav>
    {% else %}
      <code>no logging activity</code>
    {% endif %}
  </div>
</div>